<Project>
  <PropertyGroup>
    <PublishAot>true</PublishAot>
    <SelfContained>true</SelfContained>
    <StripSymbols>true</StripSymbols>
    <!-- Avoid dsymutil resolving unavailable Clang module caches in runtime static libraries. -->
    <StripSymbols Condition="$([System.String]::Copy('$(RuntimeIdentifier)').StartsWith('osx-'))">false</StripSymbols>
  </PropertyGroup>
</Project>
